@media  screen and (max-width:1000px) {
    
    
    
    
    .main-big-background{
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.45) 0%, rgba(0, 0, 0, 0.6) 100%);
        background-image: url("../assests/image/Rectangle 2 (1).svg");
        height: 46vh;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
       
    }
     .noneproperty{
         display: none;
     }
     .top_navbar{
         display: none;
     }
     .main-menu{
         display: none;
     }
     .right-side{
         display: none;
     }




}
@media screen and (min-width:1000px){
    .mob_navbar{
        display: none;
    }
    .mob_Navi{
        display: none;
    }
}



@media screen and (max-width:500px) {
    .lar-ali{
        display: none;
    }
    .leave_button{
        /* width: 10% */
    }
}
@media screen and (min-width:500px) {
    .small-ali{
        display: none;
    }
    
}


@media screen and (max-width:350px) {
    .asa{
        display: none;
    }
    
}